.onebox.video-onebox {
  width: max-content;
  padding: 0 0 3em 0;
  video {
	width: max-content;
	position: relative;
	border-radius: 4px;
  }
}
.video-container {
  padding: 0 0 3em 0;
  video {
	width: max-content;
	position: relative;
	border-radius: 4px;
  }
}
.lazyYT-container {
  background-color: transparent;
  border-radius: 4px;
}

#video-description,
.video-details label {
  display: none;
}
