.onebox.video-onebox {
  width: max-content;
  padding: 0 0 3em 0;
  video {
	width: max-content;
	position: relative;
	border-radius: 4px;
  }
}
.video-container {
  padding: 0 0 3em 0;
  video {
	width: max-content;
	position: relative;
	border-radius: 4px;
  }
}
.lazyYT-container {
  background-color: transparent;
  border-radius: 4px;
}
body.category-youtuber {
  background: url(https://vapediy.b-cdn.net/vaperina/yotube-bg/youtubebg.png), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.97) 100%, rgba(var(--primary-rgb), 0.97) 100%),linear-gradient(0deg, #000 0%, #000 100%);
  background-position: center center;
  background-size: contain;
}

body.category-vaperina-live {
  background: url(https://vapediy.b-cdn.net/vaperina/zoom/zoombg.png), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.97) 100%, rgba(var(--primary-rgb), 0.97) 100%),linear-gradient(0deg, #000 0%, #000 100%);
  background-position: center center;
  background-size: contain;
}

.category-youtuber,
.category-vaperina-live {
  .navigation-container {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.8) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  .sidebar {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.8) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  .main-link {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.8) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  #main-outlet {
	background-image: linear-gradient(0deg, rgba(var(--secondary-rgb), 0.15) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  #create-topic {
	background: #FF0000;
	&:hover {
	  background: #CE0000;
	}
	.d-icon {
	  display: none;
	}
	span {
	  &:before {
		font-family: "Font Awesome 5 Free";
		content: "\f03d";
		display: inline-block;
		padding-right: 5px;
		font-weight: 900;
	  }
	}
  }
}
.category-list {
  .category-icon {
	color: var(--primary-high, $primary-high) !important;
  }
}
.category-banner-youtuber,
.category-banner-vaperina-live {
  .category-title-contents {
	color: var(--secondary, $secondary);
  }
}

#video-title,
#video-description,
.video-details label {
  display: none;
}

